:root{
  --highlight-color: #cdc4eb;
}

*::selection {
  background-color: rgba(0,0,0,.5);
  color: #fff;
}

*::-moz-selection {
  background-color: rgba(0,0,0,.5);
  color: #fff;
}

body{
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Consolas", monospace;
  box-sizing: border-box;
  flex-wrap: wrap;
  animation: smoothFadeIn 1.5s, scrollUp 1.5s;
  overflow-y: hidden;
}

@keyframes smoothFadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes scrollUp {
  0% {transform: translateY(70px);}
  100% {transform: translateY(0px);}
}

@keyframes scrollUp2 {
  0% {transform: translateY(140px);}
  100% {transform: translateY(0px);}
}

@keyframes scrollUp3 {
  0% {transform: translateY(210px);}
  100% {transform: translateY(0px);}
}

@keyframes scrollUp4 {
  0% {transform: translateY(280px);}
  100% {transform: translateY(0px);}
}

.wrapper{
  width: 350px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.timer{
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 72px;
  padding: 30px 0px;
  background-color: #fff;
  box-shadow: 0px 2px 35px rgba(0,0,0,.08);
}

.row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  margin-bottom: 30px;
  animation: scrollUp 1.5s;
}

.row a{
  color: #333;
  text-decoration: none;
  padding: 15px 35px;
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 0px;
  box-shadow: 0px 2px 35px rgba(0,0,0,.08);
  transition: all .15s ease;
}

.row a:hover{
  transform: translateY(-2px);
  box-shadow: 0px 6px 35px rgba(0,0,0,.15);
}

.row a:active{
  transform: translateY(1px);
  transition: all .1s ease-out;
  box-shadow: 0px 1px 10px rgba(0,0,0,.05);
  background-color: var(--highlight-color);
}

.stats{
  flex-wrap: wrap;
  margin-top: 50px;
  animation: scrollUp4 1.5s;
}

.stats h2{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.stats div p:first-child{
  color: #555;
  margin-bottom: 5px;
}

.stats div{
  animation: scrollUp 1.5s;
}

.row div{
  font-size: 16px;
  padding: 15px 20px;
  text-align: center;
}

.divider{
  background-color: var(--highlight-color);
  height: 2px;
  width: 100%;
  animation: scrollUp2 1.5s;
}

.first a{
  padding: 15px 45px;
}

.last a{
  animation: scrollUp2 1.5s;
}

.footer{
  position: absolute;
  bottom: 20px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #666;
  animation: scrollUp2 1.5s;
}

.footer a{
  color: #444;
}

.active{
  background-color: var(--highlight-color) !important;
}

@media (max-width: 410px){
  .wrapper{
    width: 100%;
    margin: 0px 30px;
  }

  .hide-for-mobile{
    display: none;
  }
}
